<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Web CRUD</display-name>

    <servlet>
        <servlet-name>FileController</servlet-name>
        <servlet-class>org.valentinenikolaev.webcrud.controllers.FileController</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>org.valentinenikolaev.webcrud.controllers.UserController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>EventController</servlet-name>
        <servlet-class>org.valentinenikolaev.webcrud.controllers.EventController</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>org.valentinenikolaev.webcrud.controllers.AccountController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>IOExceptionHandler</servlet-name>
        <servlet-class>org.valentinenikolaev.webcrud.controllers.errorhandlers.IOExceptionHandler</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>IllegalPreconditionFormatHendler</servlet-name>
        <servlet-class>org.valentinenikolaev.webcrud.controllers.errorhandlers.PreconditionFailed</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>FileController</servlet-name>
        <url-pattern>/files</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>EventController</servlet-name>
        <url-pattern>/events</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/accounts</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>IllegalPreconditionFormatHendler</servlet-name>
        <url-pattern>/illegalpreconditionerror</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>IOExceptionHandler</servlet-name>
        <url-pattern>/ioexception</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/ResourceNotFound_404.html</location>
    </error-page>

    <error-page>
        <exception-type>java.io.IOException</exception-type>
        <location>/ioexception</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.NumberFormatException</exception-type>
        <location>/illegalpreconditionerror</location>
    </error-page>

    <error-page>
        <exception-type>java.time.format.DateTimeParseException</exception-type>
        <location>/illegalpreconditionerror</location>
    </error-page>

    <error-page>
        <exception-type>org.valentinenikolaev.webcrud.exceptions.WebCrudException</exception-type>
        <location>/illegalpreconditionerror</location>
    </error-page>

    <filter>
        <filter-name>userRegParam</filter-name>
        <filter-class>org.valentinenikolaev.webcrud.controllers.filters.UserParamValidator</filter-class>
    </filter>

    <filter>
        <filter-name>rootRequestFilter</filter-name>
        <filter-class>org.valentinenikolaev.webcrud.controllers.filters.RootRequestFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>userRegParam</filter-name>
        <servlet-name>UserController</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>rootRequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>org.valentinenikolaev.webcrud.controllers.listeners.RootContextLoader</listener-class>
    </listener>

</web-app>
